{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Personal Portfolio">
  <meta name="author" content="Your Name">
  <title>CV - Your Name</title>
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">
      <h1><a href="index.html">Your Name</a></h1>
      <h2>curriculum vitae</h2>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#skills">Skills</a></li>
          <li><a class="nav-link scrollto" href="#education">Education</a></li>
          <li><a class="nav-link scrollto" href="#projects">Projects</a></li>
          <li><a class="nav-link scrollto" href="#languages">Languages</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>About</h2>
        <p>Mohammad Javad Shirvani. </p>
        <p>Born 1990, Fars, Fasa </p>
        <p>teacher, researcher</p>
      </div>
    </div>
  </section><!-- End About Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container">
      <div class="section-title">
        <h2>Skills</h2>
        <p>Optimization analyst</p>
        <p>Python Programming</p>
        <p> Django Web Framework</p>
        <p> Matlab</p>
      </div>
      <div class="row">
        <!-- List your skills here -->
      </div>
    </div>
  </section><!-- End Skills Section -->

  <!-- ======= Education Section ======= -->
  <section id="education" class="education">
    <div class="container">
      <div class="section-title">
        <h2>Education</h2>
        <p>PhD in Operations research<p>
            <p> Master in OR</p>
        </p> Bachlor in Applied Mathematics</p>
      </div>
      <div class="row">
        <!-- List your educational background here -->
      </div>
    </div>
  </section><!-- End Education Section -->

  <!-- ======= Projects Section ======= -->
  <section id="projects" class="projects">
    <div class="container">
      <div class="section-title">
        <h2>Projects</h2>
        <p>RL in Traffic primeter control</p>
        <p>RL in Traffic signal control</p>
        <p><a href="https://github.com/MJSHSH/Django.git" target="_blank">View Project on GitHub</a></p>      
      </div>
      <div class="row">
        <!-- List your projects here -->
      </div>
    </div>
  </section><!-- End Projects Section -->

  <!-- ======= Languages Section ======= -->
  <section id="languages" class="languages">
    <div class="container">
      <div class="section-title">
        <h2>Languages</h2>
        <p>Persian: Native</p>
        <p>English: Fluent</p>
        <hp>Arabic: 60% Fluent</p>
      </div>
      <div class="row">
        <!-- List languages you know here -->
      </div>
    </div>
  </section><!-- End Languages Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <h2>Contacts</h2>
        <p>Email:mjshsh@gmail.com<p>
        <p>Tel:090111111</p>
        <p>Address: Shiraz, Forsat Blvd, Shokri Avenue</p>
      </div>
      <div class="row">
        <!-- Contact details here -->
      </div>
    </div>
  </section><!-- End Contact Section -->

</body>
</html>
